body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.medorg-body {
  display: flex;
  flex-direction: row;
}

.medorg-header {
  display: flex;
  flex-direction: row;
}

.medorg-container {
  display: flex;
  flex-direction: column;
}

.medTimer {
  font: 40px "Comic Sans";
  margin: 70px;
}