body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.pillorg {
  display: flex;
  flex-direction: row;
}

.pillorg-info {
  margin-left: 20px;
}
